@function sp($multiplier) {
  @return ($multiplier/16.0) * 1rem;
}

@function dp($multiplier) {
  @return $multiplier * 1px;
}

@function elevation($dp) {
  @return unquote(map-get($drop-shadow-values, $dp));
}

@function themeValue($component, $colorMap, $key, $type) {
  @if (index($type, 'light') != null) {
    @return nth(map-get($colorMap, $key), $light);
  }
  @if (index($type, 'dark-background') != null) {
    $index: $dark-background;
    $list: map-get($colorMap, $key);
    @if (length($list) < $dark-background) {
      $index: $dark;
    }
    @return nth($list, $index);
  }
  @if (index($type, 'dark') != null) {
    @return nth(map-get($colorMap, $key), $dark);
  }
  @if (index($type, 'var') != null) {
    @return unquote("var(--#{$component}__#{$key})");
  }
  @return null;
}

@function getThemePaletteColor($palettes, $theme, $color, $tone: '500') {
  $name: map-get($theme, 'accent');
  $palette: map-get($palettes, $name);
  $value: map-get($palette, $tone);
  @return $value;
}

// from Sketch
$drop-shadow-values: (
  0: "none",
  1: "0 0 2px 0 rgba(0,0,0,0.14), 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20)",
  2: "0 2px 4px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20)",
  3: "0 3px 3px 0 rgba(0,0,0,0.14), 0 3px 4px 0 rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20)",
  4: "0 2px 4px 0 rgba(0,0,0,0.14), 0 4px 5px 0 rgba(0,0,0,0.12), 0 1px 10px 0 rgba(0,0,0,0.20)",
  6: "0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px 0 rgba(0,0,0,0.20)",
  8: "0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 3px rgba(0,0,0,0.12), 0 4px 5px 0 rgba(0,0,0,0.20)",
  9: "0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px 0 rgba(0,0,0,0.20)",
  12: "0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px 0 rgba(0,0,0,0.20)",
  16: "0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px 0 rgba(0,0,0,0.20)",
  24: "0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px 0 rgba(0,0,0,0.20)"
);